* {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
}
body {
	background-color: #2A313A;
	background-image: -moz-linear-gradient(top, #313944, #20252C);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#313944), to(#20252C));
	background-image: -webkit-linear-gradient(top, #313944, #20252C);
	background-image: -o-linear-gradient(top, #313944, #20252C);
	background-image: linear-gradient(to bottom, #313944, #20252C);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff313944', endColorstr='#ff20252c', GradientType=0);
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
.navbar .brand {
	padding: 5px 20px 5px;
}
.navbar .brand img {
	padding-right: 10px;
}
.content {
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	width: 80% !important;
}
.content, .header, .footer {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.content-inner {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}
.content-inner::before, .content-inner::after {
	display: table;
	content: "";
	line-height: 0;
}
.content-inner::after {
	clear: both;
}
.content-inner::after {
	display: table;
	content: "";
	line-height: 0;
}
.titulo1 {
	color: #333;
	margin: 30px 22px 35px;
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	line-height: 40px;
}
.content-full-witdh {
	background-color: white;
	width: 100% !important;
}
.btn-variacion {
	padding: 1px 5px;
	margin-right: 5px;
	margin-bottom: 2px;
}
hr {
	margin: 5px 0;
	border-top: 1px solid #4B4B4B;
}

.sibsp-sidenav > li > a:hover {
	background-color: whiteSmoke;
}
.sibsp-sidenav.affix {
	top: 45px;
}
.sibsp-sidenav {
	width: 228px;
	padding: 0;
	background-color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}
.sibsp-sidenav > li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #E5E5E5;
}
.sibsp-sidenav > li > a:hover {
	background-color: whiteSmoke;
}
.sibsp-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.sibsp-sidenav > .active > a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sibsp-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
@media (min-width: 1200px) {
	.sibsp-sidenav {
		width: 258px;
		margin-top: 15px
	}
}
@media (max-width: 1200px) and (min-width: 980px) {
	.sibsp-sidenav {
		margin-top: 15px;
	}
}
@media (max-width: 980px) and (min-width: 768px) {
	.sibsp-sidenav {
		width: 166px;
	}
}
@media (max-width: 767px) {
	.sibsp-sidenav {
		width: auto;
		margin-bottom: 20px;
	}
}