html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,table,
caption,tbody,tfoot,thead,tr,th,td,form,fieldset,embed,object,applet{margin:0;padding:0;border:0;}

body {
	/*background: url(images/leaves_bottom.jpg) left bottom repeat-x;*/
    
	margin:0px;
	padding:0px;
    text-align: left;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 80% !important;
    line-height: 1.4em;
    color: #555;	
    text-rendering: optimizeLegibility;
}

/* @group blue */
/*body {background: url(images/bg_azul_2.jpg) #fff !important;}*/
/* @end */

input[type=submit], input[type=button], input[type=text], textarea, input[type=password], input[type=file], button, select{
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding:6px;
    border:0px none;
    
}

input[type=text], textarea, input[type=password], input[type=file], select{
	/*-webkit-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);*/
    border: 1px solid #CCC;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 1px 1px #EEE;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px #EEE;
    border-radius: 4px;
    box-shadow: 0 1px 1px #EEE;
    -webkit-font-smoothing: antialiased;
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    width: auto;
    margin: 0;
    padding: 6px;
    display: inline-block;
    float: right;
    
}
input[type=submit], input[type=button], button{
	background:#29ABE2;/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkYTNjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzNmOWZjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg5Y2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4da3cc 0%, #3f9fcc 51%, #0089cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4da3cc), color-stop(51%,#3f9fcc), color-stop(100%,#0089cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4da3cc 0%,#3f9fcc 51%,#0089cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4da3cc 0%,#3f9fcc 51%,#0089cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4da3cc 0%,#3f9fcc 51%,#0089cf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4da3cc 0%,#3f9fcc 51%,#0089cf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da3cc', endColorstr='#0089cf',GradientType=0 ); /* IE6-8 */
	
	color:#eee;
	font-weight:bold;
	text-transform:uppercase;
	font-size:1em;
    padding:11px 13px;
    -webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 15px;
	border-radius: 15px;
	
}
input[type=submit]:hover,
button:hover{
	background:#176080 !important;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: white;
}

input[type=text]:hover, textarea:hover, input[type=password]:hover, input[type=file]:hover{
    -webkit-box-shadow:  0px 0px 8px 0px #CCCCCC;
	box-shadow:  0px 0px 8px 0px #CCCCCC; 
	
}
input[type=text]:focus, textarea:focus, input[type=password]:focus, input[type=file]:focus{
    -webkit-box-shadow:  0px 0px 8px 0px rgba(54, 176, 228, 0.4) !important;
	box-shadow:  0px 0px 8px 0px rgba(54, 176, 228, 0.4) !important; 
	border-color: #29ABE2;
	
}

input,select,textarea,option{font-family:inherit;font-size:inherit}

/* @end */

a{color:#176080; text-decoration: underline;}
a:active{color:#f00}
a:visited{transition: all 0.3s ease-in-out;}
a:hover{color:#B7D9EB; transition: all 0.3s ease-in-out;}
table{border-collapse:collapse;border-width:0;empty-cells:show}
ul{padding:0 0 1em 1em}ol{padding:0 0 1em 1.3em}
li{line-height:1.5em;padding:0 0 .5em 0}
p{padding:0 0 1em 0}

h1,h2,h3,h4,h5{
    padding:0 0 0 0;
    font-family:'Helvetica Neue', helvetica, arial, sans-serif;
    font-weight: 300;
    color:#555;
    }
    
h1{line-height: 1em;}
h2{font-size:1.3em}
h3{font-size:1.1em}
h4,h5,table{font-size:1em}
sup,sub{font-size:.7em}




.errorbox-good{
   
    margin:0 20px;
    width:380px; /* 380px + 40px margin=420px column width */
    padding:10px 0px 20px 0;
    position: relative; /* tooltips are position:absolute so they need a position:relative container*/
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #fff;
    float: left; /* allows stacking*/
    }
    .errorbox-good input[type=text],
    .errorbox-good textarea,
    .ss-choices
    {
        margin-top:0px;
    }

br{
	display: none;
}


label{display:block;cursor:pointer}
ul label{display:inline}
hr{border:0;height:1px;background-color:#ddd}
table{border-collapse:collapse}
